<div id="formNewInteraction">
    <div class="alert alert-danger hide errorForm">{{ 'You must fill in all fields of the form, please.'|trans }}</div>

    <div class="formField col-sm-12">
        <div class="form-group col-sm-12">
            <small>{{ 'Description'|trans }}</small>
            <input type="text" class="form-control col-sm-12" id="_description">
        </div>
        <div class="form-group col-sm-12">
            <small>{{ 'Language'|trans }}</small>
            <select id="_language" class="form-control col-sm-12">
                <option value="en-us">En-Us</option>
                <option value="fr">Fr</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <small>{{ 'Type'|trans }}</small>
            <select id="_type" class="form-control col-sm-12">
                <option value="interaction">{{ 'Interaction'|trans }}</option>
                <option value="notification">{{ 'Notification'|trans }}</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <small>{{ 'Application'|trans }}</small>
            <select id="_application" class="form-control col-sm-12">
                {% for application in applications %}
                    <option value="{{ application.id }}">{{ application.application['name']|default('null') }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-sm-12">
            <small>{{ 'Text to display if the interaction has been already executed'|trans }}</small>
            <input type="text" class="form-control col-sm-12" id="_alreadyExecutedBody">
        </div>
        <div class="form-group col-sm-12">
            <small>{{ 'Url of the Rest Service to call'|trans }}</small>
            <input type="url" class="form-control col-sm-12" id="_callbackRestService">
        </div>
        <div class="form-group col-sm-12 isInteraction">{{ 'Options'|trans }} -
            <span class="addNewButton"><i class="fa fa-plus-circle"></i> <u>{{ 'new option'|trans }}</u></span>
        </div>
    </div>

    <div class="contentButtons formField isInteraction">
        <div class="form-group col-sm-12 contentDefinitionOptions">
            <p class="indiceButton">{{ 'Options'|trans }} <span class="numeroPosition">1</span><span class="deleteButton hide"> - <i class="fa fa-trash"></i> <u>{{ 'Delete'|trans }}</u></span></p>
            <div class="form-group col-sm-12">
                <small>{{ 'Type'|trans }}</small>
                <select class="form-control col-sm-12 typeInput">
                    <option value="button">{{ 'Button'|trans }}</option>
                    <option value="checkbox">{{ 'Checkbox'|trans }}</option>
                    <option value="radio">{{ 'radio'|trans }}</option>
                    <option value="comment">{{ 'comment'|trans }}</option>
                    <option value="label">{{ 'label'|trans }}</option>
                </select>
            </div>
            <div class="form-group col-sm-12 isMultipleChoicesTitle hide">
                <small class="addChoice">{{ 'Choices'|trans }} <i class="fa fa-plus-circle"></i></small>
            </div>
            <div class="form-group col-sm-12 choices isMultipleChoices hide">
                <div class="choice col-sm-12">
                    <input type="text" placeholder="choice" class="form-control col-sm-12">
                    <i class="fa fa-times hide"></i>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <small>{{ 'External ID'|trans }}</small>
                <input type="text" class="form-control col-sm-12 externalIdInput">
            </div>
            <div class="form-group col-sm-12">
                <small>{{ 'Css style'|trans }}</small>
                <input type="text" class="form-control col-sm-12 cssStyleInput">
            </div>
            <div class="form-group col-sm-12">
                <small>{{ 'Position'|trans }}</small>
                <input type="number" class="form-control col-sm-12 positionInput">
            </div>
            <div class="form-group col-sm-12">
                <small>{{ 'Text'|trans }}</small>
                <input type="text" class="form-control col-sm-12 textInput">
            </div>
            <div class="form-group col-sm-12">
                <small>{{ 'Text feedback'|trans }}</small>
                <input type="text" class="form-control col-sm-12 textFeedbackInput">
            </div>
        </div>
    </div>

    <div class="buttonsActions">
        <button type="button" class="btn btn-success" id="createInteraction" data-url="{{ path('interactiondefinition_create') }}">{{ 'Create new Interaction Definition'|trans }}</button>
        <div class="hide">
            <button type="button" class="btn btn-warning" id="updateInteraction" data-url="{{ path('interactiondefinition') }}" data-id="">{{ 'Save changes'|trans}}</button>
            <button type="button" class="btn btn-danger" id="deleteInteraction" data-url="{{ path('interactiondefinition') }}" data-id="">{{ 'Delete'|trans }}</button>
            <button type="button" class="btn btn-default" id="cancelInteraction">{{ 'Cancel'|trans }}</button>
        </div>
    </div>
</div>