{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'css/interaction.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1 class="page-header">{{ 'Interactions'|trans }}</h1>
    <div class="interactionDefContent col-lg-12">
        <div class="row searchItem searchInteraction">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an interaction' | trans }}">
                </div>
            </div>
        </div>
        <div class="table-responsive col-lg-12 col-xs-12 col-md-12 col-sm-12">
            {% include ':interactionDefinition:listInteractionsDefinitions.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-4 col-lg-3 sidebar">
        <div class="interactionDefContent contentForm">
            {% include ':interactionDefinition:informations.html.twig' %}
            <h3>{{ 'Interaction'|trans }}</h3>
            <div class="alert alert-danger hide errorSystem"></div>
            {% include ':interactionDefinition:formNew.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'js/interaction/interactionDefinitionPrototype.js'
        'js/interaction/interactionAPI.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}