<div class="alert alert-warning hide errorAlreadyDeleted">{{ 'This interaction does not exist or has been deleted by another user.'|trans }}</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'Application'|trans }}</th>
            <th>{{ 'Type'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Author'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for interactionDefinition in interactionsDefinitions %}
            <tr data-id="{{ interactionDefinition.id }}">
                <td class="interaction_application col-lg-3">
                    {% for application in applications %}
                        {% if interactionDefinition.interaction['application'] == application.id  %}
                            <span data-id="{{ application.id }}">{{ application.application['name']|default('null')|capitalize }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="interaction_type col-lg-3">{{ interactionDefinition.interaction['type']|default('null')|capitalize }}</td>
                <td class="interaction_created col-lg-3">{{ interactionDefinition.creationTimestamp|date("d/m/Y H:i") }}</td>
                <td class="interaction_author col-lg-3">{{ interactionDefinition.user.username|default('null')|capitalize }}</td>
                <td class="interaction_description hide">{{ interactionDefinition.interaction['description']|default('null')|capitalize }}</td>
                <td class="interaction_alreadyExecutedBody hide">{{ interactionDefinition.interaction['alreadyExecutedBody']['text']|default('null')|capitalize }}</td>
                <td class="interaction_callbackRestService hide">{{ interactionDefinition.interaction['callbackRestService']|default('null') }}</td>
                <td class="hide">
                    <span class="interaction_language">{{ interactionDefinition.interaction['alreadyExecutedBody']['language']|default('null') }}</span>
                    {% for resource in interactionDefinition.interaction['options']|default('null') %}
                        <div class="resourceOption">
                            <span class="interaction_externalId">{{ resource.externalId|default('00') }}</span>
                            <span class="interaction_text">{{ resource.label[0]['text']|default('null') }}</span>
                            <span class="interaction_typeOption">{{ resource.type|default('null') }}</span>
                            <span class="interaction_cssStyle">{{ resource.css|default('default') }}</span>
                            <span class="interaction_position">{{ resource.position }}</span>
                            <span class="interaction_textFeedback">{{ resource.feedbackResource[0]['text']|default('null') }}</span>
                            {% if resource['choices'] is defined %}
                                {% for choice in resource['choices'] %}
                                    <span class="choicesAvailable">{{ choice }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>