{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
    {% stylesheets filter='cssrewrite'
    'css/grid.css'
    'css/homepage.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1 class="page-header">
        {{ 'Dashboard'|trans }}
        <div class="flash-message">
            <i class="fa fa-check"></i> The operation completed successfully
        </div>
    </h1>
    <div class="interactionInstanceContent col-lg-12">
        <div id="gridActions" class="kendo-responsive-grid-content" data-url="{{ path('api_1_get_interactions_instances_user') }}" data-applications="{{ path('api_1_get_applications') }}"></div>

        <div id="modalPreventAction"></div>

        <div class="modal fade" id="modalErrorNotification" tabindex="-1" role="dialog" aria-labelledby="modalErrorNotificationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modalNotificationLabel" style="color:#e74c3c;">Error</h4>
                    </div>
                    <div class="modal-body">The system is not available, please retry in few minutes.<br /> If the problem persist, contact the administrator.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalNotification" data-url="{{ app.request.uri }}" tabindex="-1" role="dialog" aria-labelledby="modalNotificationLabel" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>

        <script type="text/x-kendo-template" id="templateSearchApplication">
            <div id="searchItem" class="searchToolbar">
                <div class="row searchItem searchInteraction">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an instance by keywords...' | trans }}">
                            <div class="input-group-addon"><button class="btn btn-default" id="clearSearch"><i class="fa fa-times"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <label class="application-label" for="application">Application </label>
                <input type="search" id="application" style="width: 150px"/>
                <button class="btn btn-default" id="clearFilter"><i class="fa fa-times"></i></button>
                <div class="statusFilter">
                    <span class="status-label" for="status">Status:</span>
                    <ul class="list-inline list-unstyled">
                        <li class="status" data-status="all">All</li>
                        <li>|</li>
                        <li class="status" data-status="published">Pending Approval</li>
                        <li>|</li>
                        <li class="status" data-status="executed">Executed</li>
                    </ul>
                </div>
                <button class="btn btn-default" id="clearFilterResp">Clear filter</button>
            </div>
        </script>

        <script id="command-template" type="text/x-kendo-template">
            #var count = 0;
            if (instance.status === "PUBLISHED") {
                for (var i = 0,len=interaction.options.length; i < len; i++) {
                    if (interaction.options[i]['type'] === 'button' && count < 2) { #
                    <span class="optionButtonInline _option" id="#= i #" data-url="{{ path('interactioninstance') }}execute/#= id #">
                                    <button class="inlineAction btn #= interaction.options[i]['css'] #" data-external="#= interaction.options[i]['externalId'] #" data-toggle="tooltip" data-placement="left" title="#= interaction.options[i]['label'][0]['text'] #" data-application="#= application #">
                                        #if(interaction.options[i]['label'][0]['text'] === 'Approve') { #
                                        <span><i class="fa fa-check"></i></span>
                                        <span class="hide loader"><i class="fa fa-spinner fa-spin"></i></span>
                                        #} else if(interaction.options[i]['label'][0]['text'] === 'Reject') { #
                                        <span><i class="fa fa-times"></i></span>
                                        <span class="hide loader"><i class="fa fa-spinner fa-spin"></i></span>
                                        #}else { #
                                        <span>#= interaction.options[i]['label'][0]['text'] #</span>
                                        <span class="hide loader"><i class="fa fa-spinner fa-spin"></i></span>
                                        #}#
                                    </button>
                                </span>
                    # count++;
                    }else {
                        if(interaction.options[i]['type'] === 'button' && count >= 2) { #
                        <button class="btn btn-info" data-toggle="tooltip" data-placement="left" title="See more">
                            <i class="fa fa-plus" data-toggle="modal" data-target="\\#modalNotification" ></i>
                        </button>
                # }}}} else { #
                <span style="font-size:10px;color:gray;">#= instance.status #</span>
            # } #
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/js/kendo.web.min.js"></script>
    {% javascripts
    'kendo/js/jszip.min.js'
    'js/homepage/grid.js'
    'js/response/executeAction.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}