<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ 'Dashboard'|trans }} - Centralized Interaction System{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            {% stylesheets filter='cssrewrite'
                    'css/font-awesome.min.css'
                    'css/main.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
            {% endstylesheets %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,500italic,400italic,300italic,100italic|Oswald:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include 'headerResponse.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 mainContent responseContent">
                    <div id="content" class="col-lg-6">
                        <div id="modalLoading">
                            <div class="modal-response"></div>
                            <div class="loading-response">Submitting <br /><i class="fa fa-circle-o-notch fa-spin"></i></div>
                        </div>
                        {% block body %}
                        {% endblock %}
                        <div id="footer" class="text-center">
                            <span>
                                <img src="{{ asset('images/Monochrome_Horizontal_Black_CMYK.jpg') }}" alt="logo_ubisoft" style="width: 100px;" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            {% javascripts
                'js/main/main.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>