<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ 'Dashboard'|trans }} - Centralized Interaction System{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            {% stylesheets filter='cssrewrite'
                    'css/font-awesome.min.css'
                    'css/main.css'
                    'css/responsive.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
            {% endstylesheets %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,500italic,400italic,300italic,100italic|Oswald:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body data-language="{{ app.request.locale }}">
        {% include 'header.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div id="overlay"></div>
                {% if app.request.attributes.get('_route') == 'email_overview' or app.request.attributes.get('_route') == 'interactioninstance' or app.request.attributes.get('_route') == 'users' or app.request.attributes.get('_route') == 'homepage' %}
                    <div class="col-lg-12  col-sm-12 col-md-12 mainContent {{ app.request.attributes.get('_route') }}">
                    {% else %}
                        <div class="col-lg-9  col-sm-9 col-md-8 mainContent">
                        {% endif %}
                        {% block body %}
                        {% endblock %}
                        {% include 'footer.html.twig' %}
                    </div>
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

            {% block javascripts %}
                <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
                {% javascripts
                    'js/main/main.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endblock %}
    </body>
</html>