<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ 'Dashboard'|trans }} - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            {% stylesheets filter='cssrewrite'
                    'css/main.css'
                    'css/security.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
            {% endstylesheets %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include 'header.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mainContent">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>