<div class="mainFooter">
    <span>
        <img src="{{ asset('images/Monochrome_Horizontal_Black_CMYK.jpg') }}" alt="logo_ubisoft" style="width: 100px;" />
    </span>
    <span class="pull-right">
        Powered by
        <img src="{{ asset('images/Ubi.jpg') }}" alt="logo_ubisoft_it" style="width: 35px;" />
    </span>
</div>