<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Centralized Interaction System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav">
                    <li><a class="emailUser" href="#">{{ app.user.email }}</a></li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %} route"><a href="{{ path('homepage') }}">{{ 'Dashboard'|trans }}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="{% if app.request.attributes.get('_route') == 'interactioninstance' %}active{% endif %} route"><a href="{{ path('interactioninstance') }}">{{ 'Instances'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'email_overview' %}active{% endif %} route"><a href="{{ path('email_overview') }}">{{ 'Emails'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'interactiondefinition' %}active{% endif %} route"><a href="{{ path('interactiondefinition') }}">{{ 'Interactions'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'applications' %}active{% endif %} route"><a href="{{ path('applications') }}">{{ 'Applications'|trans }}</a></li>
                    <li class="{% if app.request.attributes.get('_route') == 'users' %}active{% endif %} route"><a href="{{ path('users') }}">{{ 'Users'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>