{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
    {% stylesheets filter='cssrewrite'
    'css/grid.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1 class="page-header">{{ 'Users'|trans }}
        <span class="displaysNewForm"></span>
    </h1>
    <div class="usersContent col-lg-12">
        <div id="searchItem">
            <div class="row searchItem searchInteraction">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an user' | trans }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="gridUsers" data-url="{{ path('api_1_get_users') }}"></div>

        <div id="details"></div>

        <script type="text/x-kendo-template" id="template">
            <div class="tabstrip">
                <div>
                    <div class='users-details'>
                        <div><label>{{ 'Username' | trans  }}</label><div>#= username #</div></div>
                        <div><label>{{ 'Email' | trans }}</label><div>#= email #</div></div>
                        <div><label>{{ 'Enabled' | trans }}</label><div>#= enabled #</div></div>
                        <div><label>{{ 'Last login' | trans }}</label><div>#= last_login #</div></div>
                        <div><label>{{ 'Locked' | trans }}</label><div>#= locked #</div></div>
                        <div><label>{{ 'Expired' | trans }}</label><div>#= expired #</div></div>
                        <div><label>{{ 'Roles' | trans }}</label><div>#= roles #</div></div>
                        <div><label>{{ 'Credentials expired' | trans }}</label><div>#= credentials_expired #</div></div>
                        <div><label>{{ 'dn' | trans }}</label><div>#= dn #</div></div>
                    </div>
                </div>
            </div>
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/js/kendo.web.min.js"></script>
    {% javascripts
    'kendo/js/jszip.min.js'
    'js/user/grid.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}