#contentForm {
    border: 1px solid #e8e8e8;
    font-family: arial;
    padding: 23px;
    margin-top: 25px;
}

#contentForm div.form-group, #contentForm label {
    padding-left: 0px;
}

#contentForm label {
    line-height: 28px;
}

div.errorSystem {
    margin-top: 25px;
}