body {
    background-color: #F5F5F5;
}

#content {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 3px 10px #939393;
    margin-top: -32px;
    z-index: 11111;
}

#content #body {
    padding: 0 20px 20px 20px;
}

#content h1.title-header {
    margin-top: 0;
    padding: 20px;
    background-color: #353535;
    color: #ffffff;
    font-weight: 100;
}

#content .body-text {
    margin-top: 20px;
    line-height: 38px;
    overflow: auto;
}

#content .contentButtons {
    margin-top: 20px;
}

#content small {
    color: #8b8b8b;
    font-size: 11px;
}

#content #footer {
    border-top: 1px solid #eeeeee;
    padding: 10px 20px 5px;
}

#contentOptions div {
    margin-bottom: 10px;
}

#contentOptions div.optionButton {
    display: inline-block;
}

table {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    border-color: #353535;
    color: #27ae60;
    text-align: center;
}

tbody tr:first-child th {
    color: #2980b9;
}