td.interaction_application {
    font-size: 13px;
    font-weight: 500;
}

div.resourceOption {
    padding-left: 0;
    padding-bottom: 4px;
}

div.resourceOption div {
    padding-left: 0;
}

p.choiceOption {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contentNameAction h2, .contentNameInteraction h2 {
    font-size: 15px;
    margin-bottom: 13px;
    margin-top: 13px;
}

.action {
    margin-bottom: 18px;
}

#listActions {
    background-color: #ffffff;
    border-radius: 6px;
    font-weight: normal;
    padding: 15px;
}

p.dateAction {
    color: #858585;
    font-size: 11px;
    font-weight: normal;
}

p.dateAction b {
    color: #353535;
}

p.dateAction i {
    font-size: 14px;
}

.choice i {
    color: #e74c3c;
    position: absolute;
    right: 0;
    top: 9px;
    cursor: pointer;
}

.addChoice i {
    cursor: pointer;
}

.searchInstance {
    display: none;
}

.contentForm .listInformations .list-unstyled li.information_external_parameters label {
    width: 100%;
}

.contentForm .listInformations .list-unstyled li.information_external_parameters li b {
    color: #2980b9;
    font-size: 13px;
    font-weight: 500;
}

.contentForm .listInformations .list-unstyled li.information_external_parameters li span {
    color: #27ae60;
    font-weight: 300;
}

.contentForm .listInformations .list-unstyled li.information_external_parameters li {
    margin-bottom: 3px;
}

#btnActions {
    margin-top: 35px;
}