.contentEmails {
    margin-left: 0;
    margin-right: 0;
}

.contentEmails .table-responsive {
    margin-left: 0;
}

.email_hover:hover {
    color: #e67e22;
}

.contentNameAction h2 {
    font-size: 15px;
    margin-bottom: 13px;
    margin-top: 13px;
}

#informationsEmail .information_to span,
#informationsEmail .information_cc span,
#informationsEmail .information_bcc span,
#informationsEmail .information_attachment span {
    padding-left: 0;
    padding-right: 0;
}

h1.page-header span {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    right: 408px;
    top: 29px;
    padding: 5px 15px;
}
