.k-grid .k-grouping-header {
    color: #353535;
}

.emailsContent,
.usersContent,
.interactionInstanceContent {
    padding: 0;
    margin-top: 7px;
}

#gridEmails, #gridActions, #gridUsers {
    border: none;
    margin-top: 0;
}

#gridEmails table, #gridActions table, #gridUsers table {
    font-family: roboto;
    font-weight: 400;
}

.k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header li, .k-scheduler .k-header .k-link, .k-gantt > .k-header li, .k-gantt > .k-header .k-link, .k-gantt-toolbar .k-button, .km-pane-wrapper .k-header .k-button {
    font-size: 12px;
}

.k-detail-cell .k-tabstrip .k-content {
    padding: 0.2em;
}

.emails-details ul, .actions-details ul, .users-details ul {
    list-style: none;
    margin: 15px;
    padding: 0;
}

.emails-details div, .actions-details div, .users-details div {
    margin: 0 0 18px;
    font-weight: normal;
    word-wrap: break-word;
}

.emails-details label, .actions-details label, .users-details label {
    color: #3f51b5;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
    text-align: left;
}

.k-tabstrip > .k-content {
    display: inline-block;
    border-style: none;
    width: 100%;
}

.k-tabstrip:focus {
    box-shadow: none;
}

.tabstrip.k-widget.k-header.k-tabstrip {
    background-color: #ffffff;
}

.k-button, .k-header {
    font-weight: 300;
}

.k-grouping-header, html .km-pane-wrapper .k-header, .k-header {
    background-color: #f2f2f2;
}

.k-grouping-header .k-group-indicator, .k-pivot-toolbar .k-button {
    background-color: #1565c0;
    border-color: #1565c0;
    box-shadow: none;
    color: #ffffff;
}

.k-current-page {
    display: none !important;
}

.actions-details ul li span {
    color: #27ae60;
}

.actions-details ul {
    margin-top: 0;
    margin-bottom: 0;
}

.actions-details ul li i {
    color: #2980b9;
    font-style: normal;
}

.k-grid-header th.k-header, .k-filter-row th {
    border-left: none;
}

.k-header, .k-treemap-title, .k-grid-header .k-header > .k-link {
    color: #353535;
    font-weight: bold;
}

.k-window-action.k-link {
    background-color: #0260e8;
}

.k-grid-content .approve {
    background-color: #ecf0f1;
    border-radius: 20px;
    color: #2ecc71;
}

.k-grid-content .approve:hover, .k-grid-content .approve:focus {
    background-color: #2ecc71;
    border-radius: 20px;
    color: #ffffff;
}

.k-grid-content .reject {
    background-color: #ecf0f1;
    border-radius: 20px;
    color: #e74c3c;
}

.k-grid-content .reject:hover, .k-grid-content .reject:focus {
    background-color: #e74c3c;
    border-radius: 20px;
    color: #ffffff;
}

.k-grid-content .btn-info {
    background-color: #ecf0f1;
    border-radius: 20px;
    color: #3498db;
}

.k-grid-content .btn-info:hover, .k-grid-content .btn-info:focus {
    background-color: #3498db;
    border-radius: 20px;
    color: #ffffff;
}

#gridActions tr {
    cursor: pointer;
}

.k-header.k-grid-toolbar {
    border-color: #dedede;
}

.k-header.k-grid-toolbar div.toolbar {
    float: right;
}

.statusFilter {
    display: inline-block;
    margin-left: 10px;
}

.statusFilter span {
    display: inline-block;
    font-weight: normal;
}

.statusFilter ul {
    display: inline-block;
}

.statusFilter ul li {
    font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.statusFilter ul li.status {
    cursor: pointer;
}

.searchToolbar {
    display: inline-block;
    margin-left: 12px;
    width: 45%;
}

#clearFilter {
    padding-bottom: 9px;
    padding-top: 9px;
}

#clearSearch {
    padding-bottom: 0;
    padding-top: 0;
    color: #e74c3c;
}

#clearFilterResp {
    display: none;
}

.k-grid-content td {
    font-size: 14px !important;
}