#content {
    padding: 0;
    background-color: #ffffff;
}

#content #body {
    padding: 0 20px 20px 20px;
}

#content h1.title-header {
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
    color: #353535;
    font-weight: 100;
    margin-top: 0;
    padding: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

.popover  h1.title-header.popover-detail {
    padding: 10px !important;
    font-size: 19px;
}

#content .body-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

#content .body-text label {
    width: 110px;
    font-weight: 500;
}

#content .contentButtons {
    margin-top: 20px;
}

#content small {
    color: #8b8b8b;
    font-size: 11px;
}

#content #footer {
    border-top: 1px solid #eeeeee;
    padding: 10px 20px 5px;
}

#contentOptions div {
    margin-bottom: 10px;
}

#contentOptions span label {
    font-weight: 500;
}

#contentOptions span span {
    color: #8a8a8a;
    font-size: 13px;
}

#contentOptions span i {
    color: #2980b9;
    font-style: unset;
}

#contentOptions div.optionButton {
    display: inline-block;
}

div.body-text table {
    margin: 1em 0;
    margin-bottom: 0em !important;
    background: #FFFFFF;
    color: #4C4C4C;
    overflow: hidden;
    width: 100%;
}

div.body-text tr {
    border-top: 1px solid #22afc3;
    border-bottom: 1px solid #ddd;
    border-color: #46627f;
}

div.body-text th {
    display: none;
    padding: 4px 8px;
    background-color: #f0fbff;
    font-size: 14px;
    font-weight: bold;
}

div.body-text td {
    display: block;
    padding: 8px 8px;
    font-size: 12px;
}

div.body-text td:first-child {
    padding-top: .5em;
}

div.body-text td:last-child {
    padding-bottom: .5em;
}

div.body-text td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

div.body-text th, div.body-text td {
    text-align: center;
    margin: .5em 1em;
}

div.body-text th, div.body-text table td:before {
    color: #24a4c1;
}

div.body-text table:not(.rwd-table) tr {
    border-left: 1px solid #46627f;
    border-right: 1px solid #46627f;
}

div.body-text table:not(.rwd-table) td {
    border-left: 1px solid #46627f;
    font-size: 12px;
    text-align: left;
}

div.body-text table:not(.rwd-table) td:before {
    content: "";
    font-weight: bold;
    width: 6.5em;
    display: inline;
}

div.body-text .total {
    background-color: #f4fae0 !important;
    color: #b3d514 !important;
    font-size: 14px;
    font-weight: bold;
}

div.body-text .data {
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
}

#modalLoading {
    display: none;
}

.modal-response {
    background-color: #353535;
    height: 100%;
    opacity: 0.11;
    position: absolute;
    width: 100%;
    z-index: 1111;
}

.loading-response {
    color: #353535;
    font-size: 31px;
    position: absolute;
    text-align: center;
    top: 43%;
    width: 100%;
    z-index: 111111;
}

div.body-text table:not(.rwd-table) td:first-child {
    color: #24a4c1;
}

#modalNotification button.close {
    position: absolute;
    right: 16px;
    top: 14px;
    z-index: 9999999 !important;
}

#modalNotification #content h1.title-header {
    font-size: 20px;
    padding-bottom: 9px;
    padding-top: 2px;
}

.k-grid-content {
    overflow-x: auto;
    overflow-y: hidden;
}

table thead th.k-header:last-child {
    font-weight: bold !important;
    padding-left: 30px !important;
}

.detail-popover i {
    color: #2980b9;
}

.popover.left > .arrow {
    display: none;
}

.popover.left > .arrow:after {
    display: none;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: none !important;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover {
    z-index: 999999 !important;
    max-width: 100%;
}

@media (max-width: 696px) {
    div.body-text table:not(.rwd-table) td {
        border-left: 0px solid #46627f;
    }

    div.body-text table:not(.rwd-table) td:first-child {
        border-bottom: 0px solid #c4c4c4;
        border-left: 0 none;
        color: #24a4c1;
    }
}

@media (min-width: 696px) {
    div.body-text td:before {
        display: none;
    }

    div.body-text th, div.body-text td {
        display: table-cell;
        padding: .25em .5em;
    }

    div.body-text th:first-child, div.body-text td:first-child {
        padding-left: 0;
    }

    div.body-text th:last-child, div.body-text td:last-child {
        padding-right: 0;
    }
}

@media (min-width: 600px) {
    div.body-text th, div.body-text td {
        padding: 1em !important;
    }
}
