body {
    background-color: #fdfdfd;
}

#content {
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 3px 10px #939393;
    margin-top: -48px;
}

#content #body {
    padding: 0 20px 20px 20px;
}

#content h1.title-header {
    background-color: #ffffff;
    border-bottom: 1px solid #efefef;
    color: #353535;
    font-weight: 100;
    margin-top: 0;
    padding: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

#content .body-text {
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

#content .body-text label {
    width: 105px;
}

#content .contentButtons {
    margin-top: 20px;
}

#content small {
    color: #8b8b8b;
    font-size: 11px;
}

#content #footer {
    border-top: 1px solid #eeeeee;
    padding: 10px 20px 5px;
}

#contentOptions div {
    margin-bottom: 10px;
}

#contentOptions div.optionButton {
    display: inline-block;
}

#contentOptions span label {
    font-weight: 500;
}

#contentOptions span span {
    color: #8a8a8a;
    font-size: 13px;
}

#contentOptions span i {
    color: #2980b9;
    font-style: unset;
}


table {
    margin: 1em 0;
    margin-bottom: 0em !important;
    min-width: 300px;
    background: #FFFFFF;
    color: #4C4C4C;
    overflow: hidden;
    width: 100%;
}

tr {
    border-top: 1px solid #22afc3;
    border-bottom: 1px solid #ddd;
    border-color: #46627f;
}

th {
    display: none;
    padding: 4px 8px;
    background-color: #f0fbff;
    font-size: 14px;
    font-weight: bold;
}

td {
    display: block;
    padding: 8px 8px;
    font-size: 12px;
}

td:first-child {
    padding-top: .5em;
}

td:last-child {
    padding-bottom: .5em;
}

td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

th, td {
    text-align: center;
    margin: .5em 1em;
}

th, table td:before {
    color: #24a4c1;
}

table:not(.rwd-table) tr {
    border-left: 1px solid #46627f;
    border-right: 1px solid #46627f;
}

table:not(.rwd-table) td {
    border-left: 1px solid #46627f;
    font-size: 12px;
    text-align: left;
}

table:not(.rwd-table) td:before {
    content: "";
    font-weight: bold;
    width: 6.5em;
    display: inline;
}

.total {
    background-color: #f4fae0 !important;
    color: #b3d514 !important;
    font-size: 14px;
    font-weight: bold;
}

.data {
    background-color: #fff;
    font-size: 12px;
    font-weight: normal;
}

#modalLoading {
    display: none;
}

.modal-response {
    background-color: #353535;
    height: 100%;
    opacity: 0.11;
    position: absolute;
    width: 100%;
    z-index: 1111;
}

.loading-response {
    color: #353535;
    font-size: 31px;
    position: absolute;
    text-align: center;
    top: 43%;
    width: 100%;
    z-index: 111111;
}

table:not(.rwd-table) td:first-child {
    color: #24a4c1;
}

@media (max-width: 696px) {
    table:not(.rwd-table) td {
        border-left: 0px solid #46627f;
    }

    table:not(.rwd-table) td:first-child {
        border-bottom: 0px solid #c4c4c4;
        border-left: 0 none;
        color: #24a4c1;
    }
}

@media (min-width: 696px) {
    td:before {
        display: none;
    }

    th, td {
        display: table-cell;
        padding: .25em .5em;
    }

    th:first-child, td:first-child {
        padding-left: 0;
    }

    th:last-child, td:last-child {
        padding-right: 0;
    }
}

@media (min-width: 600px) {
    th, td {
        padding: 1em !important;
    }
}
