/*body*/
body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
}

h5 {
    font-size: 12px;
}

/*header*/
#navbar {
    font-family: Oswald, Roboto, arial, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-family: Oswald, Roboto, arial, sans-serif;
    text-transform: uppercase;
}

.navbar-inverse {
    background-color: #353535;
    border-color: #353535;
}

.navbar-header li a, .navbar-nav li a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}

.navbar-nav li.route a {
    color: #b3b3b3;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar-nav li.route a:hover, .navbar-nav li.route a:focus {
    background-color: #080808;
    color: #ffffff;
}

.active a {
    background-color: #080808;
    color: #ffffff;
}

.nav.navbar-nav.choiceLanguage a {
    font-size: 12px;
    padding-right: 0;
}

.selected-language {
    color: #ffffff !important;
    text-decoration: underline !important;
}

/* sidebar */
.sidebar {
    background-color: #f5f5f5;
    border-right: none;
    bottom: 0;
    box-shadow: 1px 3px 7px #939393;
    display: block;
    margin-bottom: 51px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 15px;
    position: fixed;
    right: 0;
    top: 51px;
    z-index: 1000;
    padding-top: 12px;
}

.container-fluid {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* main Content */
.mainContent {
    padding-bottom: 51px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 125px;
}

/* main footer */
.mainFooter {
    border-top: 1px solid #eeeeee;
    padding: 10px 20px 5px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1111;
}

/* elements */
p {
    margin-bottom: 5px;
}

.btn {
    border: medium none;
    border-radius: 2px;
}

.table, form, label, input, select {
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.btn, span.label {
    font-family: roboto, Arial, Helvetica, sans-serif;
}

span.label {
    font-weight: normal;
    text-transform: lowercase;
}

h1.page-header {
    border: 0;
    font-weight: 100;
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px;
    position: fixed;
    top: 51px;
    width: 100%;
    z-index: 111;
    border-bottom: 1px solid #eeeeee;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #353535 !important;
}

h1.page-header span {
    color: #3498db;
    font-size: 18px;
    cursor: pointer;
}

.btn-warning {
    background-color: #ff9800;
    border-color: #ff9800;
    text-transform: uppercase;
    color: #ffffff;
}

.btn-danger, .reject {
    background-color: #f44336;
    border-color: #d43f3a;
    text-transform: uppercase;
    color: #ffffff;
}

.btn-success, .approve {
    background-color: #4CAF50;
    border-color: #4CAF50;
    text-transform: uppercase;
    color: #ffffff;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
    text-transform: uppercase;
}

.approve:hover, .approve:active, .approve:focus {
    background-color: #449d44;
    border-color: #398439;
    color: #ffffff;
}

.reject:hover, .reject:active, .reject:focus {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #ffffff;
}

.label-approve {
    background-color: #5cb85c;
}

.label-reject {
    background-color: #d9534f;
}

.rowSelected {
    background-color: #f5f5f5;
    color: #3498db;
}

/* table */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #eeeeee;
    padding: 20px;
}

.table > tr > th {
    color: #353535;
    font-size: 11px;
    font-weight: lighter;
}

.table > tbody > tr {
    cursor: pointer;
}

.table > thead > tr > th {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f3f3f3;
    border-left: medium none;
    font-family: roboto;
    font-size: 13px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-top: 15px;
    vertical-align: bottom;
    color: #353535;
    font-weight: bold;
}

.table-responsive {
    font-size: 14px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
}

.titleTable {
    background-color: #ffffff;
    font-family: roboto;
    font-weight: 500;
    padding: 20px;
    position: fixed;
    top: 132px;
    z-index: 111;
    left: 0;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 5px;
    color: #2980b9;
}

.contentForm h2 {
    margin-top: 0;
}

.contentForm div.form-group, .contentForm label {
    padding-left: 0;
}

.contentForm label {
    line-height: 28px;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 0;
}

.contentForm .deleteButton {
    color: #e74c3c;
    cursor: pointer;
    font-size: 12px;
}

.contentForm .addNewButton {
    color: #3498db;
    cursor: pointer;
}

.buttonsActions button {
    margin-top: 15px;
}

.formField {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
}

.formField input, .formField select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: #E0E0E0;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
}

.formField div.form-group {
    padding-right: 0;
}

.formField div.form-group small {
    color: #9c9c9c;
    font-weight: normal;
}

.formField div.form-group div {
    padding-right: 0;
    padding-left: 0;
}

.contentForm div.contentDefinitionOptions {
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 13px;
    padding: 20px;
}

/* informations sidebar */
.listInformations {
    margin-top: 10px;
}

.listInformations li {
    font-family: roboto, arial;
}

.contentForm .listInformations .list-unstyled li label {
    font-family: roboto, arial;
    font-weight: normal;
    width: 76px;
}

.listInformations small {
    color: #a1a1a1;
    font-weight: 300;
}

.listInformations .list-unstyled li {
    margin-bottom: 16px;
}

.contentNameApplication, .contentNameAction, .contentNameInteraction {
    background-color: #9E9E9E;
    color: #ffffff;
    margin-left: -22px;
    margin-right: -24px;
    margin-top: -20px;
    padding: 15px 20px 3px;
}

.contentNameApplication small, .contentNameAction small, .contentNameInteraction small {
    color: #ffffff;
    font-weight: 300;
}

/* error messages */
.errorSystem {
    margin-top: 25px;
}

/* font-size */
.navbar-nav li.route a,
.contentNameApplication small,
.contentNameAction small,
.contentNameInteraction small,
.listInformations small,
.formField div.form-group small,
.contentForm .listInformations .list-unstyled li label,
span.label {
    font-size: 13px;
}

.nav.navbar-nav .emailUser {
    font-size: 13px;
    text-transform: lowercase;
}

/* searchBar */
.searchItem {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    margin-top: 0;
    z-index: 11;
}

.searchItem .input-group-addon {
    background-color: #FFFFFF;
    margin-right: 0;
    padding-left: 20px;
    color: #b5b5b5;
    border-radius: 0;
    border: 0 none;
    box-shadow: none;
}

.searchItem input.form-control {
    padding: 6px 15px;
    height: 40px;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    border: 0 none;
    box-shadow: none;
}

.searchItem.searchUser {
    left: 92px;
}

.searchItem.searchApplication {
    left: 221px;
}

.searchItem.searchEmail {
    left: 108px;
    top: 17px;
}

.searchItem .form-group {
    margin-bottom: 0;
}

.searchItem .form-group:hover {
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
    transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 3px 8px 10px #dedede;
}

.applicationContent,
.userContent,
.interactionDefContent,
.interactionInsContent {
    padding: 0;
    padding-bottom: 30px;
    margin-top: 8px;
}

#contentOptions div.optionButton {
    display: inline-block;
}

#modalPreventAction {
    background-color: transparent;
    bottom: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1111111;
    display: none;
}

#modalNotification h1 {
    margin-bottom: 25px;
    margin-top: 0;
}

#modalNotification div.optionCheckbox {
    margin-bottom: 25px;
}

.flash-message {
    background-color: #2ecc71;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding: 16px;
    position: absolute;
    right: -250px;
    top: 17px;
}

.flash-message i {
    vertical-align: top;
}