@media (max-width: 1200px) {
    .mainContent.responseContent {
        margin-top: 99px;
    }

    #content {
        box-shadow: none;
    }

    .navbar-brand {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .navbar-nav li.route a, .contentNameApplication small, .contentNameAction small, .contentNameInteraction small, .listInformations small, .formField div.form-group small, .contentForm .listInformations .list-unstyled li label, span.label {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    #navbar li.route a {
        font-size: 10px;
    }

    .navbar-brand {
        font-size: 10px;
    }

    .interactionInsContent ul.list-inline {
        padding-right: 67px !important;
    }

    .table-responsive {
        border: none;
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    #navbar li.route a {
        font-size: 13px;
    }

    .searchInstance {
        display: block !important;
    }

    .searchItem,
    .searchItem.searchUser,
    .searchItem.searchApplication
    .searchItem.searchEmail {
        border-radius: 0;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        top: 132px;
        width: 100%;
    }

    .searchItem.searchEmail {
        left: 0;
        top: 132px;
    }

    .searchItem.searchApplication {
        left: 0;
    }

    h1.page-header span {
        right: 10px !important;
    }

    #searchInput {
        width: 100%;
    }

    .mainContent {
        margin-top: 165px;
    }

    .mainContent.homepage {
        margin-top: 131px;
    }

    .k-header.k-grid-toolbar {
        padding: 0 !important;
    }

    .k-header.k-grid-toolbar div.toolbar {
        float: none !important;
        margin-top: 8px;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .k-widget.k-dropdown.k-header {
        width: 100% !important;
    }

    .statusFilter {
        display: inline-block;
        margin-left: 0 !important;
        text-align: center;
        width: 100%;
        margin-bottom: 3px;
        margin-top: 4px;
    }

    .mainContent.homepage #searchItem {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .mainContent.homepage .searchItem input.form-control {
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
        height: 55px;
        margin-left: 0;
        margin-right: 0;
        padding: 6px 15px;
    }

    .mainContent.homepage .searchItem {
        position: relative;
        top: 0;
        width: 100%;
    }

    .statusFilter ul {
        display: block;
        margin-left: -4px;
        margin-top: 8px;
        text-align: center;
        width: 100%;
    }

    .statusFilter ul li {
        display: none;
    }

    .status-label {
        display: none !important;
    }

    .statusFilter ul li.status {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 0;
        cursor: pointer;
        display: inline-block;
        margin-right: -5px;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 30%;
        font-weight: 400;
        font-size: 13px;
    }

    .statusFilter ul li.status:hover, .statusFilter ul li.status.statusSelected {
        color: #2980b9;
    }

    .k-input, .k-select {
        background-color: #FFFFFF !important;
    }

    .k-input {
        padding-bottom: 7px !important;
        padding-top: 7px !important;
    }

    .application-label {
        font-weight: 500;
    }

    #clearFilter {
        display: none;
    }

    #clearFilterResp {
        background-color: #3498db;
        color: #ffffff;
        display: block !important;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 12px;
        padding-top: 12px;
        text-align: center;
        width: 200px;
    }

    .titleTable {
        top: 172px;
    }

    .userContent {
        padding-left: 0;
        padding-right: 0;
    }

    #contentApplications {
        margin-top: 192px !important;
    }

    .mainContent.responseContent {
        margin-top: 99px;
    }

    .navbar-brand {
        font-size: 15px;
    }

    h1.page-header {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .navbar-brand {
        font-size: 13px;
    }

    .list-inline > li.resp400, td.resp400 {
        display: none !important;
    }

    .userContent ul.list-inline {
        padding-left: 15px !important;
    }

    .userContent .table-responsive {
        padding-left: 0 !important;
    }

    .interactionInsContent ul.list-inline {
        padding-right: 0 !important;
    }

    #contentOptions div.optionButton, #contentOptions div.optionButton button.btn {
        width: 100%;
    }

    #contentOptions div.optionButton button.btn {
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 15px;
    }

    .k-grid-content .approve {
        background-color: #2ecc71 !important;
        border-radius: 20px;
        color: #ffffff !important;
    }

    .k-grid-content .reject {
        background-color: #e74c3c !important;
        border-radius: 20px;
        color: #ffffff !important;
    }

    .k-grid-content .btn-info {
        background-color: #3498db !important;
        border-radius: 20px;
        color: #ffffff !important;
    }

    /* Ensure headers are hidden and styled properly */
    .kendo-responsive-grid-content .k-grouping-header {
        display: none;
    }

    .kendo-responsive-grid-content .k-grid-header {
        border-bottom: none;
    }

    .kendo-responsive-grid-content .k-pager-wrap {
        border-style: none;
    }

    /* Align numbers to the right */
    .kendo-responsive-grid-content .k-grid-content table td.numeric, .kendo-responsive-grid-content .k-grid-content table th.numeric {
        text-align: right;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .kendo-responsive-grid-content .k-grid-header-wrap thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* Hide the scrollbar */
    .kendo-responsive-grid-content .k-grid-content {
        overflow-y: hidden;
    }

    /* Force table to not be like tables anymore */
    .kendo-responsive-grid-content .k-grid-content table {
        table-layout: auto;
        overflow: auto;
        border-bottom: none;
    }

    .kendo-responsive-grid-content .k-grid-content table table,
    .kendo-responsive-grid-content .k-grid-content table thead,
    .kendo-responsive-grid-content .k-grid-content table tbody,
    .kendo-responsive-grid-content .k-grid-content table th,
    .kendo-responsive-grid-content .k-grid-content table td,
    .kendo-responsive-grid-content .k-grid-content table tr {
        display: block;
    }

    .kendo-responsive-grid-content .k-grid-content table tbody > tr:nth-child(even) > td,
    .kendo-responsive-grid-content .k-grid-content table tbody > tr:nth-child(even) > th {
        background-color: #EEEEEE;
    }

    .kendo-responsive-grid-content .k-grid-content colgroup {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .kendo-responsive-grid-content .k-grid-content table td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 36%;
        white-space: normal;
        text-align: left;
        float: left;
        width: 100%;
        padding-right: 2%;
    }

    .kendo-responsive-grid-content .k-grid-content table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 2%;
        white-space: nowrap;
        text-align: left;
        font-weight: 500;
        /* Label the data */
        content: attr(data-title);
    }
}