#loginPage, #RegisterPage {
    margin-top: 100px;
    border: 1px solid #dedede;
    border-radius: 6px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 28px;
}

#loginPage div.col-sm-12, #RegisterPage div.col-sm-12 {
    padding: 0;
}

#confirmedPage {
    margin-top: 65px;
}