<div id="formNewApplication">
    <div class="alert alert-danger hide errorForm">{{ 'You must fill in all fields of the form, please.'|trans }}</div>

    <div class="formField col-sm-12">
        <div class="form-group col-sm-12">
            <div class="col-sm-12">
                <small>{{ 'Name of application'|trans }}</small>
                <input type="text" class="form-control col-sm-12" id="applicationtype_name">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-12">
                <small>{{ 'Url of the application'|trans }}</small>
                <input type="url" class="form-control col-sm-12" id="applicationtype_url">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-12">
                <small>{{ 'Owner'|trans }}</small>
                <input type="text" class="form-control col-sm-12" id="applicationtype_author">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-12">
                <small>{{ 'Password'|trans }}</small>
                <input type="password" class="form-control col-sm-12" id="applicationtype_password">
            </div>
        </div>
    </div>

    <div class="buttonsActions">
        <button type="button" class="btn btn-success" id="createApplication" data-url="{{ path('application_create') }}">{{ 'Create new Application'|trans }}</button>
        <div class="hide">
            <button type="button" class="btn btn-warning" id="updateApplication" data-url="{{ path('applications') }}" data-id="">{{ 'Save changes'|trans }}</button>
            <button type="button" class="btn btn-danger" id="deleteApplication" data-url="{{ path('applications') }}" data-id="">{{ 'Delete'|trans }}</button>
        </div>
    </div>
</div>