<div id="informationsApplication">
    <div class="contentNameApplication">
        <small>{{ 'Application'|trans }}</small>
        <h2 class="nameApplication"></h2>
    </div>
    <div class="listInformations">
        <small>{{ 'Informations'|trans }}</small>
        <ul class="list-unstyled">
            <li class="information_name"><label>{{ 'Name'|trans }}:</label> <span>-</span></li>
            <li class="information_created"><label>{{ 'Created'|trans }}:</label> <span>-</span></li>
            <li class="information_author"><label>{{ 'Owner'|trans }}:</label> <span>-</span></li>
            <li class="information_url"><label>{{ 'url'|trans }}:</label> <span>-</span></li>
        </ul>
    </div>
</div>