{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="page-header">{{ 'Applications'|trans }}
        <span class="displaysNewForm"><i class="fa fa-plus-circle"></i></span>
    </h1>
    <div class="applicationContent col-lg-12">
        <div class="row searchItem searchApplication">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an application' | trans }}">
                </div>
            </div>
        </div>
        <div class="table-responsive col-lg-12 col-xs-12 col-md-12 col-sm-12">
            {% include ':application:listApplications.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="col-sm-3 col-md-4 col-lg-3 sidebar">
        <div class="applicationContent contentForm">
            {% include ':application:informations.html.twig' %}
            <h3>{{ 'Application'|trans }}</h3>
            <div class="alert alert-danger hide errorSystem"></div>
            {% include ':application:formNew.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'js/application/applicationPrototype.js'
        'js/application/applicationAPI.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}