<div class="alert alert-warning hide errorAlreadyDeleted">{{ 'This application does not exist or has been deleted by another user.'|trans }}</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <th>{{ 'Created'|trans }}</th>
            <th>{{ 'Owner'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for application in applications %}
            <tr data-id="{{ application.id }}">
                <td class="application_name col-lg-4">{{ application.application['name']|default('null')|capitalize }}</td>
                <td class="application_created col-lg-4">{{ application.creationTimestamp|date("d/m/Y - H:i:s") }}</td>
                <td class="application_author col-lg-3">{{ application.application['username']|default('CIS') }}</td>
                <td class="application_password col-lg-3 hide">{{ application.application['password']|default('') }}</td>
                <td class="application_url col-lg-4 hide">{{ application.application['url']|default('-') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>