{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
    {% stylesheets filter='cssrewrite'
        'css/grid.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1 class="page-header">{{ 'Instances'|trans }}</h1>
    <div class="interactionInstanceContent col-lg-12">
        <div id="searchItem">
            <div class="row searchItem searchInteraction">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an instance' | trans }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="gridActions" data-url="{{ path('api_1_get_interactions_instances') }}"></div>

        <div id="details"></div>
        
        <script type="text/x-kendo-template" id="template">
            <div class="tabstrip">
                <div class='actions-details row'>
                    <div class="alert alert-warning hide errorAlreadyDeleted">{{ 'This interaction does not exist or has been deleted by another user.' | trans }}</div>
                    <div class="col-lg-6" style="box-sizing: border-box;">
                        <div><label>{{ 'Id' | trans }}</label><div class="idAction" data-id="#= id #">#= id #</div></div>
                        <div><label>{{ 'Application' | trans }}</label><div>#= application #</div></div>
                        <div><label>{{ 'Created at' | trans }}</label><div>#= creation_timestamp #</div></div>
                        <div><label>{{ 'Status' | trans }}</label><div>#= instance.status #</div></div>
                    </div>
                    <div class="col-lg-6" style="box-sizing: border-box;">
                        <div><label>{{ 'Interaction Definition Id' | trans }}</label><div>#= instance.interactionDefinitionId #</div></div>
                        <div><label>{{ 'From' | trans }}</label><div>#= instance.userEmail #</div></div>
                        <div><label>{{ 'Updated at' | trans }}</label><div>#= last_update_timestamp #</div></div>
                        <div><label>{{ 'See the instance' | trans }}</label><div><a href="{{ app.request.uri }}#= id #" target="_blank">{{ 'See' | trans }}</a></div></div>
                    </div>
                    <div class="col-lg-6" style="box-sizing: border-box;">
                        <label>{{ 'External Parameters' | trans }}</label>
                        <ul>
                            #if(typeof instance.externalParams.timesheetId !== 'undefined') { # <li><span>Timesheet Id</span>: <i>#= instance.externalParams.timesheetId #</i></li> # } #
                            #if(typeof instance.externalParams.approverId !== 'undefined') { # <li><span>Approver Id</span>: <i>#= instance.externalParams.approverId #</i></li> # } #
                            #if(typeof instance.externalParams.userId !== 'undefined') { # <li><span>User Id</span>: <i>#= instance.externalParams.userId #</i></li> # } #
                            #if(typeof instance.externalParams.approvalNumber !== 'undefined') { # <li><span>Approval number</span>: <i>#= instance.externalParams.approvalNumber #</i></li> # } #
                            #if(typeof instance.externalParams.reference !== 'undefined') { # <li><span>Reference</span>: <i>#= instance.externalParams.reference #</i></li> # } #
                        </ul>
                    </div>
                    <div class="col-lg-11" style="box-sizing: border-box;">
                        <button type="button" class="btn btn-warning archiveInteraction" data-url="{{ app.request.uri }}">{{ 'Archive the action' | trans }}</button>
                        <button type="button" class="btn btn-danger cancelInteraction" data-url="{{ app.request.uri }}">{{ 'Cancel the action' | trans }}</button>
                    </div>
                </div>
            </div>
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/js/kendo.web.min.js"></script>
    {% javascripts
        'kendo/js/jszip.min.js'
        'js/interaction/grid.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}