{% block body %}
<div id="content">
    <h1 class="title-header popover-detail">
        {{ application.application['name']|default('')|upper }}
    </h1>

    <div id="body">
        <div class="body-text">
            {% autoescape false %}
                {% if application.application['name']|default('')|lower == "service now" %}
                    <label>Subject</label><br /> Requested Item {{ interactionInstance.instance['externalParams']['approvalNumber'] }} requires your approval<br>
                    <hr/>
                    <label>Description</label><br /> {{ interactionInstance.instance['short_description'] }}<br>
                {%  else %}
                    {{ interactionInstance.instance['body'] }}
                {% endif %}
            {% endautoescape %}
            </div>
        </div>
    </div>
    {% endblock %}