{% block body %}
<div id="content">
    <h1 class="title-header">
        {{ application.application['name']|default('')|upper }}
    </h1>

    <div id="body" data-url="{{ path('interaction_response', { 'id': interactionInstance.id}) }}" data-application="{{ application.application['name']|default('')|lower }}">
        <div class="body-text">
            {% autoescape false %}
                {% if application.application['name']|default('')|lower == "service now" %}
                    <label>Subject</label> Requested Item {{ interactionInstance.instance['externalParams']['approvalNumber'] }} requires your approval<br>
                    <label>Requested for</label> {{ interactionInstance.instance['requested_for'] }}<br>
                    <label>Opened by</label> {{ interactionInstance.instance['opened_by'] }}<br>
                    <label>Opened at</label> {{ interactionInstance.instance['opened_at']|default('not defined') }}<br>
                    <label>Due date</label> {{ interactionInstance.instance['due_date']|default('not defined') }}<br>
                    <hr/>
                    <label>Description</label> {{ interactionInstance.instance['short_description'] }}<br>
                    <div class="bodyInstance">
                        {{ interactionInstance.instance['body'] }}
                    </div>
                    <a data-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseExample">
                        See more details
                    </a>
                    <div class="collapse" id="collapseDetails">
                        <div class="variablesSN"></div>
                    </div>
                {%  else %}
                    {{ interactionInstance.instance['body'] }}
                {% endif %}
            {% endautoescape %}
        </div>
        <div id="contentOptions">
            <hr/>
            {% if interactionInstance.instance['status'] == "PUBLISHED" %}
                {% for resource in interactionDefinition.interaction['options'] %}
                    {% if resource['type'] == 'button' %}
                        <div class="optionButton _option" id="{{ loop.index }}"
                             data-external="{{ resource['externalId']|default('null') }}">
                            <button class="btn {{ resource.css }}">
                                {{ resource.label[0]['text']|capitalize|trans }} <span class="hide"><i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                        </div>
                    {% endif %}
                    {% if resource['type'] == 'comment' %}
                        <div class="optionComment _option" id="{{ loop.index }}" data-external="{{ resource['externalId']|default('null') }}">
                            <div>{{ resource.label[0]['text']|capitalize|trans }}</div>
                            <textarea rows="2" class="form-control"></textarea>
                        </div>
                    {% endif %}
                    {% if resource['type'] == 'label' %}
                        <div class="optionLabel _option" id="{{ loop.index }}" data-external="{{ resource['externalId']|default('null') }}">
                            <div>{{ resource.label[0]['text']|capitalize|trans }}</div>
                        </div>
                    {% endif %}
                    {% if resource['type'] == 'checkbox' %}
                        <div class="optionCheckbox _option" id="{{ loop.index }}" data-external="{{ resource['externalId']|default('null') }}">
                            <div>{{ resource.label[0]['text']|capitalize|trans }}</div>
                            {% for choice in resource['choices'] %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="{{ choice }}">
                                        {{ choice }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if resource['type'] == 'radio' %}
                        <div class="optionRadio _option" id="{{ loop.index }}" data-external="{{ resource['externalId']|default('null') }}">
                            {% set positionOption = loop.index %}
                            <div>{{ resource.label[0]['text']|capitalize|trans }}</div>
                            {% for choice in resource['choices'] %}
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios{{ positionOption }}" value="{{ choice }}">
                                        {{ choice }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span><label>Status :</label> {{ interactionInstance.instance['status'] }}</span><br>
                <span><label>Executed by :</label> <i>{{ interactionInstance.instance['executed_by']|default('cis') }}</i> - <span>{{ interactionInstance.lastUpdateTimestamp|date("j F Y H:i") }}</span></span><br>
            {% endif %}
        </div>
    </div>
    {% endblock %}