{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.material.mobile.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/styles/kendo.dataviz.material.min.css" rel="stylesheet" />
    {% stylesheets filter='cssrewrite'
        'css/grid.css'
        'css/homepage.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1 class="page-header">{{ 'Emails'|trans }}
        <span class="displaysNewForm"></span>
    </h1>
    <div class="emailsContent col-lg-12">
        <div id="searchItem">
            <div class="row searchItem searchInteraction">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" id="searchInput" placeholder="{{ 'Search an email by keywords' | trans }}">
                    </div>
                </div>
            </div>
        </div>
        <div id="gridEmails" data-url="{{ path('api_1_get_emails') }}"></div>

        <div id="details"></div>

        <script type="text/x-kendo-template" id="template">
                <div class="tabstrip">
                    <div class='emails-details row'>
                        <div class="col-lg-6" style="box-sizing: border-box;">
                            <div><label>{{ 'Application' | trans }}</label><div>#= application #</div></div>
                            <div><label>{{ 'Subject' | trans }}</label><div>#= subject #</div></div>
                            <div><label>{{ 'Status' | trans }}</label><div>#= status #</div></div>
                            <div><label>{{ 'Priority' | trans }}</label><div>#= priority #</div></div>
                            <div><label>{{ 'Number of retry' | trans }}</label><div>#= nb_of_retry #</div></div>
                            <div><label>{{ 'Created at' | trans }}</label><div>#= creation_timestamp #</div></div>
                        </div>
                        <div class="col-lg-6" style="box-sizing: border-box;">
                            <div><label>{{ 'From' | trans }}</label><div>#= from #</div></div>
                            <div><label>{{ 'To' | trans }}</label><div>#= to #</div></div>
                            <div><label>{{ 'Cc' | trans }}</label><div>#= cc #</div></div>
                            <div><label>{{ 'Bcc' | trans }}</label><div>#= bcc #</div></div>
                            <div><label>{{ 'Attachments' | trans }}</label><div>#= attachments #</div></div>
                            <div><label>{{ 'Updated at' | trans }}</label><div>#= last_update_timestamp #</div></div>
                        </div>
                        <div class="col-lg-11">
                            <div>
                                <label>{{ 'Body' | trans }}</label>
                                <div class="body-text">#= body #</div>
                            </div>
                        </div>
                    </div>
                </div>
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://da7xgjtj801h2.cloudfront.net/2014.3.1411/js/kendo.web.min.js"></script>
    {% javascripts
        'kendo/js/jszip.min.js'
        'js/email/grid.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}