<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>CIS - Notification</title>
        <style type="text/css" media="screen">
            body {font-family: arial, Helvetica, sans-serif;background-color: #FFFFFF;color: #333333 !important;font-size: 14px;}
            /**This is to overwrite Outlook.com’s Embedded CSS************/
            table {border-collapse:collapse;}
            a, a:link, a:visited {text-decoration: none; color: #00788a}
            a:hover {text-decoration: underline;}
            h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {color:#000 !important}
            .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%}
            /**This is to center your email in Outlook.com************/
            .ExternalClass {width: 100%;}
            .rwd-table {margin-top: 30px !important;}
            .rwd-table th {display: block !important;background-color: #f0fbff;color: #24a4c1;font-size: 14px;font-weight: bold;}
            table.serviceNow th {padding: 4px 8px;background-color: #ffffff;color: #24a4c1;font-size: 14px;font-weight: bold;}
            table.serviceNow {border: 1px solid #353535;margin-top: 30px;margin: 1em 0;margin-bottom: 0em !important;min-width: 300px;}
            table.serviceNow td {border-bottom: 1px solid #353535;display: table-cell;padding: 8px 8px;font-size: 12px;text-align: center;}
            table.serviceNow td:first-child {padding-top: .5em;color: #24a4c1;font-weight: bold;}
            table.serviceNow td:before {content: attr(data-th) '';font-weight: bold;width: 6.5em;display: inline-block;}
            table.serviceNow th, table.serviceNow td {margin: .5em 1em;text-align: left;}
            table.serviceNow th, table.serviceNow td:before {color: #24a4c1;}
            table.serviceNow tr {border-top: 1px solid #46627f;border-bottom: 1px solid #46627f;}
            @media (min-width: 696px) {
                table.serviceNow td:before {display: none;}
                table.serviceNow th, table.serviceNow td {display: table-cell;padding: .25em .5em;}
                table.serviceNow th:first-child, table.serviceNow td:first-child {padding-left: 0;}
                table.serviceNow th:last-child, table.serviceNow td:last-child {padding-right: 0;}
            }
            @media (min-width: 600px) {table.serviceNow th, table.serviceNow td {padding: 1em !important;}}
        </style>
    </head>
    <body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin:0; padding:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">
        <table cellpadding="0" cellspacing="0" id="bodytable" style="border-collapse: collapse;table-layout: fixed;margin-left: auto;margin-right:auto;width: 100%;height:100%;border:0;">
            <tr>
                <td>
                    <table style="width:100%;padding: 0;background-color: #ffffff;border-radius: 4px;" border="0" cellpadding="0" cellspacing="0" id="content">
                        <tr>
                            <td valign="top">
                                <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="width:20px;background-color: #ffffff;"></td>
                                        <td valign="top" style="background-color: #ffffff;border-bottom: 1px solid #dedede;color: #353535;">
                                            <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="height:20px;" valign="top"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <h1 class="title-header" style="color: #34495e;font-weight: 100;margin-bottom: 0;margin-top: 0;text-align: left;">
                                                            {{ application.application['name']|upper }}
                                                        </h1>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:20px;" valign="top"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width:20px;background-color: #ffffff;" valign="top"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" class="body-text" style="overflow: auto;">
                                <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="width:20px;" valign="top"></td>
                                        <td>
                                            <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style="height:12px;" valign="top"></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="hasTable" style="color: #333333;">
                                                        {% block body %}
                                                            {% autoescape false %}
                                                                {% if application.application['name']|lower == "service now" %}
                                                                    <div style="color: #5c5c5c;"><br><b style="color: #333333;">Subject: </b>{{ subject }}</div><br>
                                                                    <div style="color: #5c5c5c;"><br>To approve or reject this request, please click on the following <a href="https://msr-uat-cis.ubisoft.org/en/interactioninstance/{{ instanceId }}" target="_blank" style="text-decoration:underline;"><b>link</b></a>.<br><br></div>
                                                                {% endif  %}
                                                                {{ content }}
                                                            {% endautoescape %}
                                                        {% endblock %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height:12px;" valign="top"></td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width:20px;" valign="top"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" colspan="3" style="height:20px;"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top" colspan="3">
                                            <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <table style="width:100%;border-top: 1px solid #eeeeee;text-align:center;" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td style="height:12px;" valign="top"></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    <span>
                                                                        <img width="100" height="35" src="http://10.1.10.24/images/Monochrome_Horizontal_Black_CMYK.jpg" alt="logo_ubisoft" style="width: 100px;height:35px;border:0;" />
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>