{% extends "IMAGLdapBundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block imag_ldap_content %}
    <div id="loginPage" class="col-sm-4 row">
        <h1 class="text-center">{{ 'Sign in'|trans }}</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("login_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ token }}" />
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control col-sm-10" placeholder="{{ 'firstname.lastname'|trans }}" autocomplete="off"/>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <input type="password" id="password" name="_password" required="required" class="form-control col-sm-10" placeholder="{{ 'Password'|trans }}" autocomplete="off"/>
                </div>
            </div>

            <div class="form-group col-sm-12 text-center">
                <input type="submit" id="_submit" name="_submit" value="{{ 'Sign in'|trans }}" class="btn btn-primary btn-block btn-lg" />
            </div>
        </form>
    </div>
{% endblock imag_ldap_content %}